<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserDetails</title>
</head>
<body>
<h1>UserDetails</h1>
<br><br><br>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Height</th>
        <th>Age</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.height}"></td>
        <td th:text="${user.age}"></td>
    </tr>
</table>

<br><br><br>
<a href="/users">go to back page users</a>
</body>
</html>